mat-toolbar mat-icon {
    margin-top: -0.5em;
    margin-right: 2ex;
    font-size: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.app-content { margin: .5em; }
