name: predictor service

on:
  push:
    branches:
      - "master"
    paths:
      - ".github/workflows/predictor.yml"
      - "popularity/**"
      - "!popularity/README.md"

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1

      - name: Build image and publish
        uses: elgohr/Publish-Docker-Github-Action@2.11
        with:
          name: kamko/lnu_ht19_4me310_final_project_blog-predictor
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}
          workdir: popularity
          snapshot: true
